AI1_Agent.ID_1577599-1/quest2.json
{
  "name": "My workflow quest2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "15492b54-6de8-4704-9448-dcfdb365e73d",
      "name": "Telegram Trigger",
      "webhookId": "a7b8279a-52fa-450c-af7b-3275aa0b08c5",
      "credentials": {
        "telegramApi": {
          "id": "dzyAsowGyYZnBeXp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты — персональный карьерный AI-агент школы «Школа 21».\n \nТвоя задача — провести диалог с пользователем, задать ему серию вопросов и на основе ответов выдать рекомендацию по выбору специализации обучения.\n \nРаботай строго по следующему сценарию:\n \n1. Поздоровайся и кратко объясни цель диалога.\n2. По очереди задай пользователю вопросы (задавай ТОЛЬКО ОДИН вопрос за раз):\n   - возраст и место проживания;\n   - предыдущий жизненный опыт и достижения;\n   - опыт прохождения отборочного бассейна (если был): субъективные ощущения и объективные результаты;\n   - интересы и любимые занятия;\n   - цели обучения и желаемая скорость их достижения;\n   - сильные и слабые стороны (по мнению пользователя);\n   - желаемый формат работы (удалённо / офис / гибрид) и размер компании.\n \n3. Используй память диалога и не задавай повторно уже отвеченные вопросы.\n \n4. После того как получены ответы на все вопросы:\n   - проанализируй профиль пользователя;\n   - предложи 1–2 наиболее подходящие специализации;\n   - объясни выбор аргументированно, с опорой на ответы пользователя;\n   - дай рекомендации по дальнейшим шагам обучения.\n \nПравила:\n- Не запрашивай и не сохраняй персональные данные, позволяющие однозначно идентифицировать пользователя.\n- Если пользователь уходит от темы — мягко возвращай диалог к сценарию.\n- Общайся дружелюбно и профессионально."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "28090af3-1e77-4555-9e33-63bbe87f116a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "2930a366-ca02-44c3-8d7a-a084a6eeb3ae",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "801f2c94-1d2b-4f74-8591-7a84f597f7e6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uGQ2k6RIACfApDWK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "563216d6-587b-4577-9a54-14c042aefce2",
      "name": "Send a text message",
      "webhookId": "5369aef8-ba0a-4e79-bafc-84009aa73134",
      "credentials": {
        "telegramApi": {
          "id": "dzyAsowGyYZnBeXp",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9cb8e7dc-a776-4478-85ff-0f22641f60af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2aff4b0d067dd455112043042c8a65e8c8c18e7e5e501456182c7c1282e7494"
  },
  "id": "kAOhKMNHuam9jmru",
  "tags": []
}